*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F1F1F3;
}
.banner-one{
    border: none;
    width:1080px ;
    height: 400px;
    background-color:#C6E4D6 ;
    border-radius: 24px;
    padding: 100px 80px;
    display: flex;

    margin: auto;
    margin-top: 20px;
    
}
.title{
    font-family: "Fira Sans", serif;
    font-weight:500;
     font-style: normal;
     color: #0E0E0E;
     font-size: 24px;
     opacity: 50%;

}
.description{
    font-family: "Fira Sans", serif;
    font-weight: 700;
     font-style: normal;
     font-size: 56px;
}
.ExNewBD{
    color: white;
    background-color: #006A50;
    font-family: "Fira Sans", serif;
    font-weight: 600;
     font-style: normal;
     height: 22px;
     width: 300px;
     font-size: 18px;
     padding: 12px 17px 34px 17px;
     border-radius: 8px;
     border: none;
}
.ExNewBD:hover, .lernMore:hover, .two:hover{
    background-color: beige;
    color: black;
}
.image{
  width: 474px;
  height: 400px;
}
.banner-two{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    gap: 24px;
    width:1080px ;
    height: 400px;
    margin: 20px 200px 15px 325px;
}
.card-one{
    margin: auto;
    border: none;
    width: 244px;
    height: 200px;
    border-radius: 16px;
    background-color: #FFFFFF;
    padding: 24px ;

}
.innovation{
    font-family: "Fira Sans", serif;
    font-weight: 700;
     font-style: normal;
     font-size: 20px;
     line-height: auto;
}
.des{
    font-family: "Fira Sans", serif;
    font-weight: 400;
     font-style: normal;
     font-size: 16px;
     line-height: 24px;
     width: 254px;
     height: 72px;
}
.desc{
    font-family: "Fira Sans", serif;
    font-weight: 400;
     font-style: normal;
     font-size: 16px;
     line-height: 24px;
     color: #0E0E0E;
     opacity: 70%;
    
}
.vision{
    font-family: "Fira Sans", serif;
    font-weight: 700;
     font-style: normal;
     font-size: 40px;
     line-height: auto;
     color: #0E0E0E;
    
}
.banner-three{
    width: 1200px;
    height: 48px;
    margin: auto;
    margin: 20px 250px 100px 325px;
}
.banner-four{
    margin: auto;
    display: flex;
    gap: 24px;
    align-items: center;
    width: 1200px;
    height: 325px;
    margin: 20px 250px 100px 325px;

}
.card-two{
    background-color: #DABFF7;
    opacity: 100%;
    width: 330px;
    height: 280px;
    border: none;
    border-radius: 16px;
    padding: 32px;
}
.lernMore{
    background-color: #5490F5;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    padding: 18px 20px;
    border: none;
    color: #FFFFFF;
    border-radius: 8px;
}
.card-des{
    font-family: "Fira Sans", serif;
    font-weight: 400;
     font-style: normal;
     font-size: 16px;
     line-height: 24px;
     color: #0E0E0E;
     opacity: 70%;
     width: 346px;
    
}
.bg1{
    background-color:#C6E4D6 ;

}
.ln1{
    background-color: #09A15C;
}
.bg2{
    background-color: #F7EBCF;

}
.ln2{
    background-color: #FFC239;
}
.banner-five{
    background-image: url(../assets/quote-bg.png) ;
    background-repeat: no-repeat;
    background-position: 45px 15px;
    height: 190px;
    width: 1140px;
    background-color: #FFFFFF;
    border: none;
    padding: 40px 48px;
    border-radius: 16px;
    margin: auto;
}
.aboutY{
    font-family: "Fira Sans", serif;
    font-weight: 400;
     font-style: normal;
     font-size: 16px;
     line-height: 24px;
     color: #0E0E0E;
     opacity: 70%;

     
}
.dr{
    font-family: "Fira Sans", serif;
    font-weight: 600;
     font-style: normal;
     font-size: 20px;
     line-height: 24px;
     color: #0E0E0E;


}
.aboutYn{
    font-family: "Fira Sans", serif;
    font-weight: 400;
     font-style: normal;
     font-size: 16px;
     line-height: 24px;
     color: #0E0E0E;
     opacity: 60%;
}
.recent{
    font-family: "Fira Sans", serif;
    font-weight: 400;
     font-style: normal;
     font-size: 16px;
     line-height: 24px;
     color: #0E0E0E;
     opacity: 70%;
}
.banner-six{
    margin: auto;
    width: 1250px;
    height: 120px;
    margin-left: 340px;
}
.im{
    /* width: 408px;
    height: 306px; */
    border-radius: 24px;
}
.banner-seven{
    display: flex;
    gap: 32px;
    align-items: center;
    width: 1150px;
    height:310px ;
    margin: auto;
    background-color:#FFFFFF ;
    border-radius: 24px;
    margin-bottom: 40px;
    padding: 48px;
}
.bd{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    color: #0E0E0E;
     opacity: 80%;
}
span{
    font-family: "Fira Sans", serif;
    font-weight: 400;
     font-style: normal;
     font-size: 16px;
     line-height: 24px;
     color: #0E0E0E;
     opacity: 70%;
}
.read{
    height: 22px;
    width: 150px;
}
.v{
    text-align: center;
}
.r{
    text-align: center;
    width: 1104px;
    height: 48px;
    line-height: 24px;
    margin: auto;
}
.one{
    display: flex;
    gap: 24px;
    margin: 20px 250px 30px 380px;
    width: 1280px;
    /* width: 464px; */
    border:none;

}
.two{
    width: 270px;
    height: 100px;
    padding: 30px 40px 52px 40px;
   
    border-radius: 16px;
    border: none;
    background-color: #FFFFFF;
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
    opacity: 80%;
    font-size: 40px;

}
.t{
    background-color: #C6E4D6;
}
.input{
    width: 1132px;
    height: 64px;
    background-color: #FFFFFF;
    border: none;
    text-align: center;
    margin: 20px 250px 30px 390px;

}
.donate{
    margin: auto;
    text-align: center;
}
.d{
    width: 151px;
    margin-bottom: 50px;
}
.subscribe{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    color: #0E0E0E;
    opacity: 100%;
    text-align: center;

}
.nine{
    background-color: #C6E4D6;
    height: 305px;
    width: 1180px;
    padding: 100px 8px;
    margin: auto;
    border-radius: 24px;
    margin-bottom: 50px;

}
.email{
    margin: 20px 0px 30px 100px;
    width: 820px;
    height: 56px;
    font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  padding-left: 50px;
}
.fl{
    display: flex;
    gap: 0px;
    align-items: center;
   flex-direction: row;
}
.subs{
    width: 150px;
    height: 63px;
    padding-top: 22px;
    padding-bottom: 25px;
    
}
.ten{
    margin-top: 90px ;
    background-color: #FFFFFF;
    border: none;
    height: 100px;
    width: 1780px;
    padding: 100px 50px;
   
}
.bd-2{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    color: #0E0E0E;
    opacity: 100%;
    text-align: center;
    padding-top: 0px;
    margin-bottom: 50px;
}
.image1{
    text-align: center;
    
}
.img1{
    margin: 5px;
}