*{
    margin: 0 auto;
    padding: 0;
}
body{
    background-color: #F1F1F3;
    
    
}
.banner-one{
    border: none;
    width:1080px ;
    
    background-color:#C6E4D6 ;
    border-radius: 24px;
    padding: 80px 100px;
    display: flex;
    gap: 64px;
    /* margin-left: 325px; */
    margin-top: 20px;
    margin-bottom: 80px;
    
}
.pillar{
    width: 1280px;
    height: 48px;
    /* margin-left: 325px; */
    margin-bottom: 32px;
}
.bx1{
    width: 622px;
    height: 326px;
    background-position: 60px 117px;
}
.bx2{
    width: 474px;
    height: 400px;
    background-position: 734px 80px;
    opacity: 100%;
}
.title{
    font-family: "Fira Sans", serif;
    font-weight:500;
     font-style: normal;
     color: #0E0E0E;
     font-size: 24px;
     opacity: 50%;

}
.description{
    font-family: "Fira Sans", serif;
    font-weight: 700;
     font-style: normal;
     font-size: 56px;
     margin-bottom: 20px;
}
.ExNewBD{
    color: white;
    background-color: #006A50;
    font-family: "Fira Sans", serif;
    font-weight: 600;
     font-style: normal;
     height: 22px;
     width: 300px;
     font-size: 18px;
     padding: 12px 17px 34px 17px;
     border-radius: 8px;
     border: none;
}
.ExNewBD:hover, .lernMore:hover, .two:hover,.read:hover{
    background-color: beige;
    color: black;
}
.image{
  width: 474px;
  height: 400px;
}
.banner-two{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* align-items: center;
    justify-content: center; */
    gap: 24px;
    max-width:1280px ;
    
    /* margin: 20px 200px 15px 325px; */
    /* margin-left: 325px; */
    margin-bottom: 80px;

}
.card-one{
    /* margin: auto; */
    border: none;
    /* max-width: 254px;
    height: 196px; */
    border-radius: 16px;
    background-color: #FFFFFF;
    padding: 24px 24px;
    gap: 24px;

}
.innovation{
    font-family: "Fira Sans", serif;
    font-weight: 700;
     font-style: normal;
     font-size: 20px;
     line-height: auto;
}
.des{
    font-family: "Fira Sans", serif;
    font-weight: 400;
     font-style: normal;
     font-size: 16px;
     line-height: 24px;
     width: 254px;
     height: 72px;
}
.desc{
    font-family: "Fira Sans", serif;
    font-weight: 400;
     font-style: normal;
     font-size: 16px;
     line-height: 24px;
     color: #0E0E0E;
     opacity: 70%;
    
}
.vision{
    font-family: "Fira Sans", serif;
    font-weight: 700;
     font-style: normal;
     font-size: 40px;
     line-height: auto;
     color: #0E0E0E;
     margin-bottom: 24px;
    
}
.bd-2-0{
    width: 1280px;
    height: 48px;
    font-family: "Fira Sans", serif;
    font-weight: 400;
     font-style: normal;
     font-size: 16px;
     line-height: 24px;
     color: #0E0E0E;
     opacity: 70%;
}
.banner-three{
    width: 1280px;
    height: 120px;
    /* margin: auto; */
    /* margin: 20px 250px 100px 325px; */
    margin-bottom: 32px;
    align-items: center;
    justify-content: center;
    /* margin-left: 325px; */

}
.banner-four{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    width: 1280px;
    height: 325px;
    /* margin: 20px 250px 100px 325px; */
    margin-top: 20px;
    margin-bottom: 32px;
    /* margin-left: 325px; */

}
.card-two{
    background-color: #DABFF7;
    opacity: 100%;
    width: 346px;
    height: 261px;
    border: none;
    border-radius: 16px;
    padding: 32px 32px;
    gap: 24px;
}
.lernMore{
    background-color: #5490F5;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    padding: 18px 20px;
    border: none;
    color: #FFFFFF;
    border-radius: 8px;
}
.card-des{
    font-family: "Fira Sans", serif;
    font-weight: 400;
     font-style: normal;
     font-size: 16px;
     line-height: 24px;
     color: #0E0E0E;
     opacity: 70%;
     width: 346px;
    
}
.bg1{
    background-color:#C6E4D6 ;

}
.ln1{
    background-color: #09A15C;
}
.bg2{
    background-color: #F7EBCF;

}
.ln2{
    background-color: #FFC239;
}
.banner-five{
    background-image: url(../assets/quote-bg.png) ;
    background-repeat: no-repeat;
    background-position: 23px 23px;
    height: 160px;
    width: 1232px;
    background-color: #FFFFFF;
    border: none;
    padding: 48px 24px;
    border-radius: 16px;
    margin-bottom: 80px;
    align-items: center;
    justify-content: center;
    /* margin-left: 325px; */
}
.aboutY{
    font-family: "Fira Sans", serif;
    font-weight: 400;
     font-style: normal;
     font-size: 16px;
     line-height: 24px;
     color: #0E0E0E;
     opacity: 70%;
     height: 96px;
     width: 1232px;
     margin-bottom: 12px;

     
}
.dr{
    font-family: "Fira Sans", serif;
    font-weight: 600;
     font-style: normal;
     font-size: 20px;
     line-height: 24px;
     color: #0E0E0E;
     width: 1232px;
     height: 24px;


}
.aboutYn{
    font-family: "Fira Sans", serif;
    font-weight: 400;
     font-style: normal;
     font-size: 16px;
     line-height: 24px;
     color: #0E0E0E;
     opacity: 60%;
     width: 1232px;
     height: 24px;
}
.recent{
    font-family: "Fira Sans", serif;
    font-weight: 400;
     font-style: normal;
     font-size: 16px;
     line-height: 24px;
     color: #0E0E0E;
     opacity: 70%;
     margin-bottom: 32px;
}
.banner-six{
    width: 1280px;
    height: 120px;
    margin-bottom: 32px;
    align-items: center;
    justify-content: center;
    /* margin-left: 325px; */
}
.vis{
    height: 48px;
    width: 1280px;
    margin-bottom: 24px;
}
.rec{
    height: 48px;
    width: 1280px;
    margin-bottom: 24px;
}
.im{
    width: 408px;
    height: 306px; 
    border-radius: 24px;
}
.al-jazeera{
    width: 134px;
    height: 40px;
    margin-bottom: 12px;
}
.Bdlaunch{
    width: 744px;
    height: 290px;
    gap: 32px;
    margin-bottom: 12px;

}
.banner-seven{
    display: flex;
    gap: 32px;
    align-items: center;
    width: 1184px;
    height:306px ;
    margin: auto;
    background-color:#FFFFFF ;
    border-radius: 24px;
    margin-bottom: 80px;
    padding: 48px;
    /* margin-left: 325px; */
}
.first{
    margin-bottom: 24px;
}
.banner-eight{
    width:1280px ;
    height: 464px;
    margin-bottom: 80px;
    align-items: center;
    justify-content: center;
    /* margin-left: 325px; */
}
.bd{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    color: #0E0E0E;
     opacity: 80%;
     height: 38px;
     width: 744px;
}
.sp{
    font-family: "Fira Sans", serif;
    font-weight: 400;
     font-style: normal;
     font-size: 16px;
     line-height: 24px;
     color: #0E0E0E;
     opacity: 70%;
     margin-bottom: 12px;
}

.read{
    
    color: white;
    background-color: #006A50;
    font-family: "Fira Sans", serif;
    font-weight: 600;
     font-style: normal;
    width: 150px;
     font-size: 18px;
    
     border-radius: 8px;
     border: none;
}
.v{
    text-align: center;
    width:1280px ;
    height: 48px;
    margin-bottom: 24px;
}
.r{
    text-align: center;
    width:1280px ;
    height: 48px;
    line-height: 24px;
    margin-bottom: 32px;

}
.one{
    display: flex;
    gap: 5px;
    /* margin: 20px 250px 30px 380px; */
    width: 1071px;
    height: 128px;
    border:none;
    text-align: left;


}
.two{
    width: 240px;
    height: 128px;
    padding: 20px 20px;
    border-radius: 16px;
    border: none;
    background-color: #FFFFFF;
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
    opacity: 80%;
    font-size: 40px;

}
.t{
    background-color: #C6E4D6;
}
.input{
    width: 1032px;
    height: 64px;
    background-color: #FFFFFF;
    border: none;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    /* margin: 20px 250px 30px 390px; */

}
.donate{
    margin: auto;
    text-align: center;
} 
.form{
    display: grid;
}
.d{
    width: 151px;
    margin-bottom: 50px;
}
.subscribe{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    color: #0E0E0E;
    opacity: 100%;
    text-align: center;

}
.nine{
    background-color: #C6E4D6;
    height: 305px;
    width: 1180px;
    padding: 100px 8px;
    margin: auto;
    border-radius: 24px;
    margin-bottom: 50px;
    /* margin-left: 325px; */
}
.email{
    margin: 20px 0px 30px 100px;
    width: 820px;
    height: 56px;
    font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  padding-left: 50px;
}
.fl{
    display: flex;
    gap: -10px;
    align-items: center;
   flex-direction: row;
}
.subs{
    width: 150px;
    height: 63px;
    padding-top: 22px;
    padding-bottom: 25px;
    
}
.ten{
    margin-top: 90px ;
    background-color: #FFFFFF;
    border: none;
    height: 100px;
    width: 1400px;
    padding: 100px 50px;
   
}
.bd-2{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    color: #0E0E0E;
    opacity: 100%;
    text-align: center;
    padding-top: 0px;
    margin-bottom: 50px;
}
.image1{
    text-align: center;
    
}
.img1{
    margin: 5px;
}
.display-none{
    display: none;
}
/* responsive */
@media screen and (max-width:576px) {
    body{
        width: 100%;
        margin: 0 auto;
    }
    .pillar, .banner-three, .banner-six{
        margin-left: 20px;
    }
    .banner-one{
        flex-direction: column;
        width: 1290px;
    }
    .bx2{
        margin-left: 200px;
    }
    .banner-two, .banner-four, .banner-five,.banner-seven,.banner-eight{
        margin-left: 100px;
       
    }
    .nine{
         margin-left: 150px; 
    }
}